{% extends 'main.html' %}

{% block body %}
    
    <section id="about" class="about">
        <div class="container">
  
          <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
              <img src="https://unsplash.com/@xps?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" >
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">Our Company</h3>
              <p data-aos="fade-up">
                TheBroCode is a global leader in consulting, digital transformation, technology and engineering services.
                 The Group is at the forefront of innovation to address the entire breadth of clients’ opportunities in the evolving world of cloud,
                  digital and platforms.
              </p>
              <div class="icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <h4>Company Profile</h4>
                <p>TheBroCode is a portfolio website that showcases work from top creative firms around the world. Use Visual Objects to find the right design partner for your business needs.</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                <h4>VALUE PROPOSITION</h4>
                <p>Our vision is help clients to achieve an ultra-rapid and cost efficient solutions delivery cycle that reduces their time to market.
                 Through expertise, highly refined processes, and a vast code repository,
                  we position our client for success and offer a complete range of services designed to minimize technical overhead,
                   increase productivity and maximize ROI.</p>
              </div>
  
              {% comment %} <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div> {% endcomment %}
  
            </div>
          </div>
  
        </div>
      </section>

      {% endblock %}